html {
    font-size: 10px;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

 p, a, li, span, div, article {
    font-size: 1.4rem;
 }

.logo {
    transition: transform 0.7s ease-in-out;
    width: 10rem;
}
.logo:hover {
    transform: scale(1.2);
}

/* .gradient-box {
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, rgb(237, 237, 63), rgb(221, 208, 208));
} */
.gradient-box-shadow {
    width: 10rem;
    height: 10rem;
    background: linear-gradient(45deg, rgb(237, 237, 63), rgb(221, 208, 208));
    box-shadow: 10px 10px 5px rgb(133, 129, 129);
}
.gradient-box-shadow:hover {
    background: linear-gradient(90deg, rgb(221, 208, 208), #af4261, #9778f3);

}
.animate-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background: linear-gradient(45deg, #af4261, #9778f3);
    box-shadow: 7px 10px 17px -2px, rgba(167, 48, 48, 0.53);
    transition: all 0.7 ease-in-out;
}
.animate-box:hover {
    transform: translateX(20rem) rotate(360deg);
    background: linear-gradient(90deg, #f3ec78,#af4261, #9778f3);
    
}
