body {
    background-color: aliceblue;
    
}
p{
    font-size: 20 px;
}

.boxes {
    border: 2px solid black;
    margin: 5px;
    border-radius: 6px;
}
.box-1 {
    width: 200px;
    height: 150px;
}
.my-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.box-10 {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.b-content {
    width: 60px;
    height: 60px;
    background-color: rgb(189, 146, 146);
    border-radius: 10%;
    margin: 2px;
    border: 1px dotted black;
}

.box-20 {
    display: flex;
    justify-content: center;
}
.box-30 {
    display: flex-wrap;
    justify-content: flex-end;
}

/* if you change the size of the screen it will change colour, fonts exc. Start with a biiger screen*/
@media screen and (max-widht: 768px) {
    body {
        background-color: rgb(245, 220, 188);
    }
    p {
        font-size: 18px;
    }
}

@media screen and (max-widht: 600px) {
    body {
        background-color: antiquewhite;
    }
    p {
        font-size: 14px;
    }
}